/* body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    font-family: system-ui;
}

nav {
    background-color: #FF914D;
    height: 120px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img-logo {
    height: 130px;
}

nav .nav-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav .nav-links ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
}

nav .nav-links li {
    padding: 15px;
}

nav .nav-login a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

a:hover {
    background-color: #FF914D;
    border-radius: 10px;
}

.secao {
    border: solid 2px aliceblue;
    height: 100%;
}

footer {
    background-color: #FF914D;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

form {
    background-color: gainsboro;
    border-radius: 4px;
    width: 320px;
    margin: auto;
    display: block;
    margin-top: 200px;
}

input {
    width: 90%;
    padding: 6px;
    margin-bottom: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

input[type=radio] {
    width: auto;
}
 */

 body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FF914D;
    font-family: system-ui;
}

nav {
    background-color: black;
    height: 120px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img-logo {
    height: 130px;
}

nav .nav-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav .nav-links ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
}

nav .nav-links li {
    padding: 15px;
}

nav .nav-login a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

a:hover {
    background-color: #FF914D;
    border-radius: 10px;
}

.secao {
    border: solid 2px aliceblue;
    height: 100%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    background-color: gainsboro;
    border-radius: 4px;
    width: 320px;
    margin: auto;
    display: block;
    margin-top: 200px;
}

input {
    width: 90%;
    padding: 6px;
    margin-bottom: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

input[type=radio] {
    width: auto;
}