
body,
html{
    margin: 0; /* remover qualquer margem do corpo da página */
    padding: 0; /* remover qualquer espaçamento do corpo da página */
    height: 100%; /* definir a altura da página para utilizar toda a janela */
}

nav{
    background-color: black;
    padding: 20px;
    color: white;
    display: flex;    /* torna os itens flexiveis */
    justify-content: space-between;  /* cria espaçamento entre os itens */
    align-items: center;
}

nav .nav-links ul{
    margin-right: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav .nav-links ul li a{
    color: white;
    text-decoration: none;
    padding: 15px;
}

nav .nav-login{
    background-color: black;
}

nav .nav-login a{
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: darkgray;;
}

.secao{
    border: solid 2px aliceblue;
    height: 100%;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    /* permanecer fixo independente da rolagem da pag */
    /* position: fixed; */
    /* tenha 0 de espaçamento inferior, assim fica no fim da pag */
    bottom: 0;
    /* largura do footer */
    width: 100%;
}

form{
    background-color: gainsboro;
    border-radius: solid 4px white;
    width: 320px;
    margin: auto;
    display: block;
    margin-top: 200px;
}

input{
    width: 90%;
    padding: 6px;
    margin-bottom: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

input[type=radio]
{
    width: auto;
}

